## Padrón Comunidad de Madrid

2.Crear otro notebook donde leyendo el fichero original en CSV obtener algunas métricas.

In [19]:
import findspark
findspark.init()

import pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CSV to Dataset").getOrCreate()

In [20]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

schema = StructType() \
    .add('COD_DISTRITO', IntegerType(), True) \
    .add('DESC_DISTRITO', StringType(), True) \
    .add('COD_DIST_BARRIO', IntegerType(), True) \
    .add('DESC_BARRIO', StringType(), True) \
    .add('COD_BARRIO', IntegerType(), True) \
    .add('COD_DIST_SECCION', IntegerType(), True) \
    .add('COD_SECCION', IntegerType(), True) \
    .add('COD_EDAD_INT', IntegerType(), True) \
    .add('EspanolesHombres', IntegerType(), True) \
    .add('EspanolesMujeres', IntegerType(), True) \
    .add('ExtranjerosHombres', IntegerType(), True) \
    .add('ExtranjerosMujeres', IntegerType(), True)

df_schema = spark.read.format('csv') \
    .option('header',True) \
    .option('delimiter', ';') \
    .schema(schema) \
    .load('padron_madrid/Rango_Edades_Seccion_202011.csv')

df_schema.printSchema()
df_schema.show(5)

root
 |-- COD_DISTRITO: integer (nullable = true)
 |-- DESC_DISTRITO: string (nullable = true)
 |-- COD_DIST_BARRIO: integer (nullable = true)
 |-- DESC_BARRIO: string (nullable = true)
 |-- COD_BARRIO: integer (nullable = true)
 |-- COD_DIST_SECCION: integer (nullable = true)
 |-- COD_SECCION: integer (nullable = true)
 |-- COD_EDAD_INT: integer (nullable = true)
 |-- EspanolesHombres: integer (nullable = true)
 |-- EspanolesMujeres: integer (nullable = true)
 |-- ExtranjerosHombres: integer (nullable = true)
 |-- ExtranjerosMujeres: integer (nullable = true)

+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|COD_DISTRITO|       DESC_DISTRITO|COD_DIST_BARRIO|         DESC_BARRIO|COD_BARRIO|COD_DIST_SECCION|COD_SECCION|COD_EDAD_INT|EspanolesHombres|EspanolesMujeres|ExtranjerosHombres|ExtranjerosMujeres|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|           1|CENTRO              |            101|PALACIO             |         1|            1001|          1|           0|               5|            null|                 1|              null|
|           1|CENTRO              |            101|PALACIO             |         1|            1001|          1|           1|               2|               3|              null|                 5|
|           1|CENTRO              |            101|PALACIO             |         1|            1001|          1|           2|               6|               1|                 1|              null|
|           1|CENTRO              |            101|PALACIO             |         1|            1001|          1|           3|               2|            null|              null|                 3|
|           1|CENTRO              |            101|PALACIO             |         1|            1001|          1|           4|               3|               3|              null|              null|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
only showing top 5 rows

In [21]:
#Cuantas filas tiene el dataframe
df_schema.count()

237593

In [22]:
#Importar librería para utilizar las funciones
from pyspark.sql import functions as pyf

In [23]:
#Sustituir valores nulos por 0
df_schema_Null0 = df_schema.na.fill(0)

In [24]:
#Promedios por dsitrito, ordenados alfabeticamente por columna distrito

df_group = df_schema_Null0.groupBy('DESC_DISTRITO') \
    .avg('EspanolesHombres', 'EspanolesMujeres', 'ExtranjerosHombres', 'ExtranjerosMujeres') \
    .orderBy('DESC_DISTRITO')
df_group.show()

+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|       DESC_DISTRITO|avg(EspanolesHombres)|avg(EspanolesMujeres)|avg(ExtranjerosHombres)|avg(ExtranjerosMujeres)|
+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|ARGANZUELA          |    6.072125304820859|    6.953198274244982|     0.7358844494466329|     0.8274244982179704|
|BARAJAS             |      7.3536503683858|    7.763228399196249|     0.7803081044876088|     0.9561286001339585|
|CARABANCHEL         |    5.407337454212454|    6.247424450549451|     1.5400641025641026|      1.711080586080586|
|CENTRO              |    4.915913958469131|   4.9248533382996555|     1.7890865071235682|     1.5495856224974391|
|CHAMARTIN           |    6.020822905195716|   7.1854039443387725|     0.6085694263690059|     0.8993893282610872|
|CHAMBERI            |    4.476936966513461|    5.592662508207485|     0.6060407091267236|     0.8163164806303349|
|CIUDAD LINEAL       |    5.033597312215023|    6.032877369810415|     0.9311255099592033|     1.1251499880009599|
|FUENCARRAL-EL PARDO |    6.079003961516695|    6.730447085455574|     0.5669496321448784|     0.7395585738539898|
|HORTALEZA           |    7.023610637572451|    7.663995908625981|     0.8174224343675418|     1.0334981247869075|
|LATINA              |   4.7432370001539965|     5.47656691134952|      1.008675119347056|      1.184692777578153|
|MONCLOA-ARAVACA     |      5.9838497427922|    6.893886828568011|     0.7183873669099174|     0.9496351238186386|
|MORATALAZ           |    4.531832571227577|    5.384453042560676|     0.5231562903036698|     0.6633837495603236|
|PUENTE DE VALLECAS  |   5.2675348945862295|    5.902995970332301|     1.3921625883314839|     1.4900426327162297|
|RETIRO              |    5.390088533793997|    6.409738717339668|     0.4687972360181386|      0.648024184841287|
|SALAMANCA           |    4.475543041029766|     5.58744971842317|     0.7425583266291231|     1.0061946902654868|
|SAN BLAS-CANILLEJAS |    5.984469212497716|    6.637584505755527|     0.9854741458066874|      1.120409281929472|
|TETUAN              |    5.099532629392418|       5.997143846287|     1.2400034620045006|     1.5947723732040853|
|USERA               |    5.638562311051394|    6.459858918374202|      1.930466912999664|      2.015115888478334|
|VICALVARO           |   7.0750952701188075|     7.55727415377718|      1.090114324142569|     1.1569154898004932|
|VILLA DE VALLECAS   |    7.625453971261646|    8.032528027790937|       1.20827411969051|     1.3537028264645508|
+--------------------+---------------------+---------------------+-----------------------+-----------------------+
only showing top 20 rows

In [25]:
#Creamos un DF solo con los datos numericos

df_num = df_schema_Null0.select('EspanolesHombres', 'EspanolesMujeres', 'ExtranjerosHombres', 'ExtranjerosMujeres')
df_num.show()

+----------------+----------------+------------------+------------------+
|EspanolesHombres|EspanolesMujeres|ExtranjerosHombres|ExtranjerosMujeres|
+----------------+----------------+------------------+------------------+
|               5|               0|                 1|                 0|
|               2|               3|                 0|                 5|
|               6|               1|                 1|                 0|
|               2|               0|                 0|                 3|
|               3|               3|                 0|                 0|
|               2|               2|                 2|                 1|
|               2|               1|                 0|                 0|
|               2|               3|                 1|                 1|
|               4|               0|                 0|                 1|
|               2|               4|                 0|                 0|
|               5|               1|                 0|                 0|
|               2|               5|                 0|                 0|
|               4|               1|                 0|                 0|
|               1|               1|                 0|                 1|
|               3|               4|                 0|                 0|
|               3|               4|                 0|                 0|
|               2|               0|                 0|                 1|
|               2|               7|                 1|                 0|
|               5|               2|                 1|                 1|
|               2|               6|                 1|                 0|
+----------------+----------------+------------------+------------------+
only showing top 20 rows

In [26]:
#Otras agregaciones por distrito

df_schema_Null0.groupBy('DESC_DISTRITO') \
    .agg(pyf.max('EspanolesHombres'), pyf.stddev('EspanolesHombres'), \
        pyf.max('EspanolesMujeres'), pyf.stddev('EspanolesMujeres')) \
    .orderBy('DESC_DISTRITO') \
    .show()

+--------------------+---------------------+-----------------------------+---------------------+-----------------------------+
|       DESC_DISTRITO|max(EspanolesHombres)|stddev_samp(EspanolesHombres)|max(EspanolesMujeres)|stddev_samp(EspanolesMujeres)|
+--------------------+---------------------+-----------------------------+---------------------+-----------------------------+
|ARGANZUELA          |                   43|            4.969822973168646|                   40|             5.16527013475927|
|BARAJAS             |                   48|            6.158284725266348|                   48|            6.433101231132147|
|CARABANCHEL         |                   56|            4.592413601061038|                   72|            4.789073908318246|
|CENTRO              |                   30|             4.26672937275971|                   24|           3.5767189286107928|
|CHAMARTIN           |                   28|           4.1273731518404535|                   37|            4.375229634056856|
|CHAMBERI            |                   23|            3.216241708430045|                   26|           3.5136182106438065|
|CIUDAD LINEAL       |                   36|            3.678418208292694|                   36|            4.028264446854447|
|FUENCARRAL-EL PARDO |                   68|            6.208644765255942|                   69|            6.414516755909314|
|HORTALEZA           |                  102|            7.352843895070303|                   93|           7.3375073345026705|
|LATINA              |                   44|           3.7534903091333853|                   47|           4.1121442869013185|
|MONCLOA-ARAVACA     |                   47|            5.060070119019046|                   43|            5.248239231356103|
|MORATALAZ           |                   35|            3.718072456004505|                   52|            4.198805703195841|
|PUENTE DE VALLECAS  |                   41|            4.108826674779194|                   42|            4.268072100206309|
|RETIRO              |                   39|            3.944294245086966|                   32|            4.241826704107444|
|SALAMANCA           |                   30|            3.182592864893325|                   29|           3.5477778943240783|
|SAN BLAS-CANILLEJAS |                   64|             5.64091753538683|                   56|             5.80061036890384|
|TETUAN              |                   25|            3.729928105166821|                   29|            3.907048915151908|
|USERA               |                   47|             4.67385665953893|                   61|             4.82936565313424|
|VICALVARO           |                   64|           7.4633009907239645|                   69|            7.528788045169214|
|VILLA DE VALLECAS   |                   62|            7.778860602361886|                   57|            7.745714883506981|
+--------------------+---------------------+-----------------------------+---------------------+-----------------------------+
only showing top 20 rows

In [27]:
#Mostar el total personas por distrito, ordenado por distrito y renombrar las columnas nuevas

df_total = df_schema_Null0.groupBy('DESC_DISTRITO') \
    .sum('EspanolesHombres', 'EspanolesMujeres', 'ExtranjerosHombres', 'ExtranjerosMujeres') \
    .withColumnRenamed('sum(EspanolesHombres)', 'Total_EspanolesHombres') \
    .withColumnRenamed('sum(EspanolesMujeres)', 'Total_EspanolesMujeres') \
    .withColumnRenamed('sum(ExtranjerosHombres)', 'Total_ExtranjerosHombres') \
    .withColumnRenamed('sum(ExtranjerosMujeres)', 'Total_ExtranjerosMujeres') \
    .orderBy('DESC_DISTRITO')

df_total.show()

+--------------------+----------------------+----------------------+------------------------+------------------------+
|       DESC_DISTRITO|Total_EspanolesHombres|Total_EspanolesMujeres|Total_ExtranjerosHombres|Total_ExtranjerosMujeres|
+--------------------+----------------------+----------------------+------------------------+------------------------+
|ARGANZUELA          |                 64741|                 74135|                    7846|                    8822|
|BARAJAS             |                 21958|                 23181|                    2330|                    2855|
|CARABANCHEL         |                 94477|                109155|                   26908|                   29896|
|CENTRO              |                 52792|                 52888|                   19213|                   16641|
|CHAMARTIN           |                 60142|                 71775|                    6079|                    8984|
|CHAMBERI            |                 54547|                 68141|                    7384|                    9946|
|CIUDAD LINEAL       |                 83900|                100556|                   15520|                   18754|
|FUENCARRAL-EL PARDO |                107416|                118927|                   10018|                   13068|
|HORTALEZA           |                 82401|                 89914|                    9590|                   12125|
|LATINA              |                 92403|                106689|                   19650|                   23079|
|MONCLOA-ARAVACA     |                 50019|                 57626|                    6005|                    7938|
|MORATALAZ           |                 38652|                 45924|                    4462|                    5658|
|PUENTE DE VALLECAS  |                 90196|                101077|                   23838|                   25514|
|RETIRO              |                 49923|                 59367|                    4342|                    6002|
|SALAMANCA           |                 55631|                 69452|                    9230|                   12507|
|SAN BLAS-CANILLEJAS |                 65506|                 72655|                   10787|                   12264|
|TETUAN              |                 58920|                 69291|                   14327|                   18426|
|USERA               |                 50358|                 57693|                   17241|                   17997|
|VICALVARO           |                 31562|                 33713|                    4863|                    5161|
|VILLA DE VALLECAS   |                 48292|                 50870|                    7652|                    8573|
+--------------------+----------------------+----------------------+------------------------+------------------------+
only showing top 20 rows

In [35]:
#Filtrar los datos por distrito Carabanchel

#df_total2 = df_total.filter(pyf.col('DESC_DISTRITO') == 'CARABANCHEL')
#df_total2.show()

### Conclusiones:

.- El distrito con mas población es Carabanchel. Tmabién es el que tiene mayor numero de españoles, frente a Barajas que es el que menos.

.- En el distrito de Villa de Vallecas es donde viven de promedio mayor numero mujeres españolas frente a Moratalez que es el que menos tiene.

In [16]:
spark.stop()